<section class="data-panel tasks-panel" data-module="TasksPanel" data-path="components">
    <div class="data-panel__header">
        <h2 class="data-panel__title">{{#if title}}{{title}}{{else}}Задачи{{/if}}</h2>
        <div class="data-panel__actions">
            {{#if archive}}<a href="/" class="data-panel__export data-panel__export--plain">Архив задач</a>{{/if}}
            <a href="/" class="data-panel__export">
                <svg class="data-panel__export-icon" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                    <path d="M10 3.5V12.5M10 12.5L6.5 9M10 12.5L13.5 9" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M4.5 13.5V15A1.5 1.5 0 0 0 6 16.5H14A1.5 1.5 0 0 0 15.5 15V13.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"/>
                </svg>
                <span class="data-panel__export-full">Экспорт в Excel</span>
                <span class="data-panel__export-short">Excel</span>
            </a>
        </div>
    </div>

    <div class="tasks-panel__create">
        <button type="button" class="panel-create" data-task-create>
            <svg aria-hidden="true" focusable="false" width="28" height="28">
                <use href="#icon-circle-plus-thin"></use>
            </svg>
            <span>Создать</span>
        </button>
    </div>

    <form class="task-form" data-task-form novalidate hidden>
        <div class="task-form__grid">
            <div class="field task-form__task">
                <label class="field__label" for="{{idp}}task-title">Задача</label>
                <div class="field__control">
                    <input class="field__input" id="{{idp}}task-title" type="text" name="title" autocomplete="off">
                </div>
                <span class="field__help">Укажите, что необходимо сделать по задаче.</span>
            </div>
            <div class="field task-form__date">
                <label class="field__label" for="{{idp}}task-due">Срок исполнения</label>
                <div class="field__control ui-datepicker" data-datepicker>
                    <input class="field__input ui-datepicker__input" id="{{idp}}task-due" type="text" name="due" placeholder="дд.мм.гггг" autocomplete="off" inputmode="numeric" data-datepicker-input>
                    <button type="button" class="ui-datepicker__toggle" data-datepicker-toggle aria-label="Открыть календарь">
                        <svg aria-hidden="true" focusable="false" width="20" height="20">
                            <use href="#icon-calendar"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>

        <label class="ui-check task-form__check">
            <input class="ui-check__input" type="checkbox" name="hidden">
            <span class="ui-check__box" aria-hidden="true">
                <svg class="ui-check__frame" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path class="ui-check__fill" d="M13.75 20.8542H8.24998C3.27248 20.8542 1.14581 18.7275 1.14581 13.75V8.25004C1.14581 3.27254 3.27248 1.14587 8.24998 1.14587H13.75C18.7275 1.14587 20.8541 3.27254 20.8541 8.25004V13.75C20.8541 18.7275 18.7275 20.8542 13.75 20.8542Z"/>
                    <path class="ui-check__ring" d="M13.75 20.8542H8.24998C3.27248 20.8542 1.14581 18.7275 1.14581 13.75V8.25004C1.14581 3.27254 3.27248 1.14587 8.24998 1.14587H13.75C18.7275 1.14587 20.8541 3.27254 20.8541 8.25004V13.75C20.8541 18.7275 18.7275 20.8542 13.75 20.8542ZM8.24998 2.52087C4.02415 2.52087 2.52081 4.02421 2.52081 8.25004V13.75C2.52081 17.9759 4.02415 19.4792 8.24998 19.4792H13.75C17.9758 19.4792 19.4791 17.9759 19.4791 13.75V8.25004C19.4791 4.02421 17.9758 2.52087 13.75 2.52087H8.24998Z"/>
                    <path class="ui-check__tick" d="M1 5L4.2 8L11 1" transform="translate(5 6.5)" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </span>
            <span class="ui-check__label">Скрыть для сотрудника</span>
        </label>

        <div class="task-form__actions">
            <button type="submit" class="btn task-form__btn">Сохранить</button>
            <button type="reset" class="btn task-form__btn btn--secondary" data-task-cancel>Отмена</button>
        </div>
    </form>

    {{#if list}}{{> (lookup . "list") }}{{else}}{{> components/TasksPanel/TaskListMine }}{{/if}}

    <button type="button" class="tasks-panel__toggle" data-tasks-toggle aria-expanded="false">
        <span data-tasks-toggle-text>Показать завершенные: 47</span>
    </button>
</section>
