@use '@/assets/styles/base/mixins' as *;
@use '@/assets/styles/base/vars' as *;

@layer components {
	.top-notice {
		--h: 0px;
		position: relative;
		z-index: 1000;
		overflow: hidden;
		width: 100%;
        color: $color-white;
		background: #0F1A24;
		max-height: var(--h);
		opacity: 1;
		transition: max-height .25s ease, opacity .25s ease;

		&.is-hidden { max-height: 0 !important; opacity: 0; pointer-events: none; }

		&__container {
			display: flex;
            align-items: flex-start;
            justify-content: space-between;
            @include prop-vw(gap, 20, xl);
            @include prop-vw(padding-block, 18, xl);
            @include prop-vw(padding-inline, 30, xl);

            @include only(mobile) {
                @include prop-vw(gap, 10, sm);
                @include prop-vw(padding, 10, sm);
            }
		}

		&__text {
            display: block;
            width: fit-content;
            @include prop-vw(font-size, 16, xl);
            font-weight: normal;
            line-height: 1.5;
            a {
                display: inline;
                color: $color-blue;
                &:hover {
                    color: $color-blue;
                }

                @media screen and (hover: hover) {
                    &:hover {
                        color: $color-blue-hover;
                    }
                }
            }

            @include only(mobile) {
                @include prop-vw(font-size, 14, sm);
            }
        }

		&__close {
			display: flex;
			align-items: center;
			justify-content: center;
            padding: 0;
            @include prop-vw(min-width, 24, xl);
            @include prop-vw(width, 24, xl);
            @include prop-vw(height, 24, xl);
            font-size: 0;
			background: transparent;
			border: 0;
            border-radius: 0;
            &:focus {
                outline: none;
            }
            & > svg {
                @include prop-vw(min-width, 16, xl);
                @include prop-vw(width, 16, xl);
                @include prop-vw(height, 16, xl);
                color: $color-white;
            }

            @media screen and (hover: hover) {
                &:hover {
                    & > svg {
                        color: $color-blue;
                    }
                }
            }
            @include only(mobile) {
                @include prop-vw(min-width, 24, sm);
                @include prop-vw(width, 24, sm);
                @include prop-vw(height, 24, sm);
                & > svg {
                    @include prop-vw(min-width, 16, sm);
                    @include prop-vw(width, 16, sm);
                    @include prop-vw(height, 16, sm);
                }
            }
		}
	}
}