@use '@/assets/styles/base/mixins' as *;
@use '@/assets/styles/base/vars' as *;

@layer layout {
    .footer {
        @include border-side(top, 1, solid, $color-border, xl);
        
        @include only(mobile) {
            @include border-side(top, 1, solid, $color-border, sm);
        }

        &__wrapper {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            @include prop-vw(padding-block, 22, xl);

            @include only(mobile) {
                flex-direction: column;
                @include prop-vw(padding-block, 20, sm);
            }
        }
        &__copyright {
            display: block;
            width: fit-content;
            @include prop-vw(font-size, 14, xl);
            font-weight: normal;
            line-height: 1.07142857143;
            color: $color-dark-grey;
            a {
                display: inline;

                @media screen and (hover: hover) {
                    &:hover {
                        color: $color-blue;
                    }
                }
            }

            @include only(mobile) {
                @include prop-vw(font-size, 14, sm);
            }
        }
        &__copyright + &__copyright {
            @include only(mobile) {
                @include prop-vw(margin-top, 15, sm);
            }
        }
    }
}