<header class="header" data-module="Header" data-path="layouts">
    <div class="container">
        <div class="header__wrapper">
            <picture class="header__logotype">
                <source srcset="/assets/images/logotype-desktop.svg" media="(min-width: 744px)">
                <img src="/assets/images/logotype-mobile.svg" width="390" height="40" alt="AG">
            </picture>
            <div class="header__inner">
                {{> components/ProfileDropdown/ProfileDropdown props=(obj
                    class='header__profile'
                    items=(arr
                        (obj icon='icon-settings' text='Настройки' href='/')
                        (obj sep=true)
                        (obj icon='icon-exit' text='Выход' action='logout')
                    )
                )}}
                <button class="header__hamburger" aria-label="Меню">
                    <svg aria-hidden="true" focusable="false" width="30" height="21">
                        <use href="#icon-hamburger"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</header>
