@use '@/assets/styles/base/mixins' as *;
@use '@/assets/styles/base/vars' as *;

@layer layout {
	body.is-locked {
		position: fixed;
		inset: 0;
		width: 100%;
	}

	.bg-light {
		background: #F5F8FA;
	}
	
	.wrapper {
		display: flex;
		flex-direction: column;
		min-height: 100svh;
		&__content {
			display: flex;
			flex: 1 1 auto;
		}
		&__main {
			width: 100%;
			
			@include up(tablet) {
				@include prop-vw(padding-block, 20, xl);
				@include prop-vw(max-width, 1570, xl);
			}
            @include only(mobile) {
				background: $color-white;
			}
		}
		&__container {
			width: 100%;

			@include up(tablet) {
				@include prop-vw(margin-left, 50, xl);
				@include prop-vw(padding-inline, 125, xl);
				@include prop-vw(max-width, 1120, xl);
			}
		}
		&__banr {
            position: relative;
            z-index: 1;
            display: block;
            overflow: hidden;
            width: 100%;
            background: #F9DBDB;
            @include prop-vw(border-radius, 20, xl);
			box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.05);
            &::before {
                content: '';
                display: block;
                padding-top: 22.989%;
            }
            & > * {
                position: absolute;
                inset: 0;
                z-index: 1;
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
			
            @include up(tablet) {
				&--mobile {
					display: none;
				}
			}
			@include only(mobile) {
				border-radius: 0;
			}
		}
		&__banr + *,
		* + &__banr {
			@include prop-vw(margin-top, 20, xl);

			@include only(mobile) {
				margin-top: 0;
			}
		}
		&__banr + &__banr {
			@include prop-vw(margin-top, 20, xl);

            @include only(mobile) {
				@include prop-vw(margin-top, 10, sm);
			}
		}
		&__back {
			display: flex;
			align-items: center;
			@include prop-vw(gap, 10, xl);
			@include prop-vw(margin-bottom, 20, xl);
			width: fit-content;
			@include prop-vw(font-size, 14, xl);
			font-weight: normal;
			& > svg {
				@include prop-vw(min-width, 20, xl);
				@include prop-vw(width, 20, xl);
				@include prop-vw(height, 20, xl);
			}

			@media screen and (hover: hover) {
				&:hover {
					color: $color-blue-hover;
					& > svg {
						color: $color-blue-hover;
					}
				}
			}
			@include only(mobile) {
				@include prop-vw(margin-top, 20, sm);
				@include prop-vw(margin-bottom, 20, sm);
				@include prop-vw(margin-left, 10, sm);
				@include prop-vw(font-size, 14, sm);
				color: $color-dark-grey;
				& > svg {
					@include prop-vw(min-width, 16, sm);
					@include prop-vw(width, 16, sm);
					@include prop-vw(height, 16, sm);
					color: $color-dark-grey;
				}
			}
		}
	}

	.container {
		width: 100%;

		@include up(tablet) {
			margin: 0 auto;
			@include prop-vw(padding-right, 30, xl);
			@include prop-vw(padding-left, 30, xl);
			@include prop-vw(max-width, 1920, xl);
		}
		@include only(mobile) {
			@include prop-vw(padding-right, 10, sm);
			@include prop-vw(padding-left, 10, sm);
		}
	}
}