// fonts
$font-base: 'Inter Tight', system-ui, -apple-system, 'Segoe UI', Roboto, Arial, sans-serif;
$font-secondary: 'RFRufo';

// colors
$color-white: #FFFFFF;
$color-full-black: #000000;
$color-black: #0F1A24;
$color-dark-grey: #737F8C;
$color-grey: #D2DCE5;
$color-light-grey: #D3D8DE;
$color-blue: #0081FF;
$color-blue-hover: #0D75DA;
$color-form-focus: #0057FF;
$color-red: #BC4141;
$color-border: #E1E1E1;
$color-bg: #F3F6FC;

// transition
$transition-default: 0.25s ease-in-out;
$transition-vs: 0.467s cubic-bezier(0.16, 1, 0.3, 1);
$transition-fast: 0.467s ease;