@use '@/assets/styles/base/mixins' as *;
@use '@/assets/styles/base/vars' as *;

@layer components {
    .news-inner {
        &__wrap {
            width: 100%;

            @include up(tablet) {
                @include prop-vw(padding, 25, xl);
                background: $color-white;
                @include prop-vw(border-radius, 20, xl);
                box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.05);
            }
            @include only(mobile) {
                @include prop-vw(padding-inline, 10, sm);
            }
        }
        &__content {
            @include prop-vw(font-size, 14, xl);
            font-weight: normal;
            line-height: 1.57142857143;
            color: $color-black;
            & > * {
                @include prop-vw(margin-bottom, 20, xl);
                &:last-child {
                    margin-bottom: 0;
                }
            }
            h1 {
                font-family: $font-secondary;
                @include prop-vw(font-size, 30, xl);
                font-weight: bold;
                line-height: 1.06666666667;
            }
            h2 {
                font-family: $font-secondary;
                @include prop-vw(font-size, 26, xl);
                font-weight: bold;
                line-height: 1.07692307692;
            }
            h3 {
                font-family: $font-secondary;
                @include prop-vw(font-size, 22, xl);
                font-weight: bold;
                line-height: 1.09090909091;
            }
            h4, h5, h6 {
                font-family: $font-secondary;
                @include prop-vw(font-size, 18, xl);
                font-weight: bold;
                line-height: 1.11111111111;
            }
            a {
                display: inline;
                color: $color-blue;
                &:hover {
                    color: $color-blue;
                }

                @media screen and (hover: hover) {
                    &:hover {
                        color: $color-blue-hover;
                    }
                }
            }
            img {
                display: inline-block;
                overflow: hidden;
                @include prop-vw(border-radius, 10, xl);
            }
            figcaption {
                display: block;
                @include prop-vw(margin-top, 5, xl);
                width: fit-content;
                @include prop-vw(font-size, 12, xl);
                font-weight: normal;
                color: $color-dark-grey;
            }
            blockquote {
                @include prop-vw(padding, 20, xl);
                background: $color-bg;
                @include border-side(left, 5, solid, $color-blue-hover, xl);
            }
            ul, ol {
                @include prop-vw(padding-left, 20, xl);
                li {
                    @include prop-vw(font-size, 14, xl);
                    line-height: 1.57142857143;
                }
            }

            @include only(desktop) {
                @include prop-vw(font-size, 14, lg);
                & > * {
                    @include prop-vw(margin-bottom, 20, lg);
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
                h1 {
                    @include prop-vw(font-size, 30, lg);
                }
                h2 {
                    @include prop-vw(font-size, 26, lg);
                }
                h3 {
                    @include prop-vw(font-size, 22, lg);
                }
                h4, h5, h6 {
                    @include prop-vw(font-size, 18, lg);
                }
                img {
                    @include prop-vw(border-radius, 10, lg);
                }
                figcaption {
                    @include prop-vw(margin-top, 5, lg);
                    @include prop-vw(font-size, 12, lg);
                }
                blockquote {
                    @include prop-vw(padding, 20, lg);
                    @include border-side(left, 5, solid, $color-blue-hover, lg);
                }
                ul, ol {
                    @include prop-vw(padding-left, 20, lg);
                    li {
                        @include prop-vw(font-size, 14, lg);
                    }
                }
            }
            @include only(mobile) {
                @include prop-vw(font-size, 14, sm);
                & > * {
                    @include prop-vw(margin-bottom, 20, sm);
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
                h1 {
                    @include prop-vw(font-size, 30, sm);
                }
                h2 {
                    @include prop-vw(font-size, 24, sm);
                line-height: 1.20833333333;
                }
                h3 {
                    @include prop-vw(font-size, 22, sm);
                }
                h4, h5, h6 {
                    @include prop-vw(font-size, 18, sm);
                }
                img {
                    @include prop-vw(border-radius, 10, sm);
                }
                figcaption {
                    @include prop-vw(margin-top, 5, sm);
                    @include prop-vw(font-size, 12, sm);
                }
                blockquote {
                    @include prop-vw(padding, 20, sm);
                    @include border-side(left, 5, solid, $color-blue-hover, sm);
                }
                ul, ol {
                    @include prop-vw(padding-left, 20, sm);
                    li {
                        @include prop-vw(font-size, 14, sm);
                    }
                }
            }
        }
        &__files {
            @include prop-vw(margin-top, 20, xl);

            @include only(desktop) {
                @include prop-vw(margin-top, 20, lg);
            }
            @include only(mobile) {
                @include prop-vw(margin-top, 20, sm);
            }
        }
        &__file {
            display: flex;
            align-items: center;
            @include prop-vw(gap, 5, xl);
            width: fit-content;
            @include prop-vw(font-size, 14, xl);
            font-weight: normal;
            line-height: 1.57142857143;
            color: $color-blue;
            & > svg {
                @include prop-vw(min-width, 20, xl);
                @include prop-vw(width, 20, xl);
                @include prop-vw(height, 20, xl);
                color: $color-blue;
            }

            @media screen and (hover: hover) {
                &:hover {
                    color: $color-blue-hover;
                    & > svg {
                        color: $color-blue-hover;
                    }
                }
            }
            @include only(desktop) {
                @include prop-vw(gap, 5, lg);
                @include prop-vw(font-size, 14, lg);
                & > svg {
                    @include prop-vw(min-width, 20, lg);
                    @include prop-vw(width, 20, lg);
                    @include prop-vw(height, 20, lg);
                }
            }
            @include only(mobile) {
                @include prop-vw(gap, 5, sm);
                @include prop-vw(font-size, 14, sm);
                & > svg {
                    @include prop-vw(min-width, 20, sm);
                    @include prop-vw(width, 20, sm);
                    @include prop-vw(height, 20, sm);
                }
            }
        }
        &__file + &__file {
            @include prop-vw(margin-top, 10, xl);

            @include only(desktop) {
                @include prop-vw(margin-top, 10, lg);
            }
            @include only(mobile) {
               @include prop-vw(margin-top, 10, sm); 
            }
        }
        &__bottom {
            display: flex;
            align-items: center;
            justify-content: space-between;
            @include prop-vw(gap, 20, xl);
            @include prop-vw(margin-top, 20, xl);

            @include only(desktop) {
                @include prop-vw(gap, 20, lg);
                @include prop-vw(margin-top, 20, lg);
            }
            @include only(mobile) {
                flex-direction: column;
                align-items: flex-start;
                @include prop-vw(gap, 10, sm);
                @include prop-vw(margin-top, 20, sm);
            }
        }
        &__controls {
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;
            @include prop-vw(gap, 10, xl);

            @include only(desktop) {
                @include prop-vw(gap, 10, lg);
            }
            @include only(mobile) {
                @include prop-vw(gap, 10, sm);
            }
        }
        &__control {
            display: flex;
            align-items: center;
            justify-content: center;
            @include prop-vw(gap, 5, xl);
            padding: 0;
            @include prop-vw(padding-inline, 12, xl);
            @include prop-vw(min-width, 40, xl);
            @include prop-vw(height, 36, xl);
            @include prop-vw(font-size, 14, xl);
            font-weight: normal;
            text-align: center;
            background: $color-bg;
            border: none;
            @include prop-vw(border-radius, 14, xl);
            transition: color $transition-default;
            &:focus {
                outline: none;
            }
            &.is--active {
                .news-inner {
                    &__control-icon {
                        &--default {
                            opacity: 0;
                        }
                        &--active {
                            opacity: 1;
                        }
                    }
                }
            }

            @media screen and (hover: hover) {
                &:hover {
                    color: $color-blue-hover;
                    svg {
                        color: $color-blue-hover;
                    }
                }
            }
            @include only(desktop) {
                @include prop-vw(gap, 5, lg);
                @include prop-vw(padding-inline, 12, lg);
                @include prop-vw(min-width, 40, lg);
                @include prop-vw(width, 40, lg);
                @include prop-vw(height, 36, lg);
                @include prop-vw(font-size, 14, lg);
                @include prop-vw(border-radius, 14, lg);
            }
            @include only(mobile) {
                @include prop-vw(gap, 5, sm);
                @include prop-vw(padding-inline, 12, sm);
                @include prop-vw(min-width, 40, sm);
                @include prop-vw(height, 36, sm);
                @include prop-vw(font-size, 14, sm);
                background: $color-bg;
                @include prop-vw(border-radius, 14, sm);
            }
        }
        &__control-group {
            position: relative;
            z-index: 1;
            @include prop-vw(min-width, 16, xl);
            @include prop-vw(width, 16, xl);
            @include prop-vw(height, 16, xl);
            
            @include only(desktop) {
                @include prop-vw(min-width, 16, lg);
                @include prop-vw(width, 16, lg);
                @include prop-vw(height, 16, lg);
            }
            @include only(mobile) {
                @include prop-vw(min-width, 16, sm);
                @include prop-vw(width, 16, sm);
                @include prop-vw(height, 16, sm);
            }
        }
        &__control-icon {
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 1;
            transform: translate(-50%, -50%);
            @include prop-vw(min-width, 16, xl);
            @include prop-vw(width, 16, xl);
            @include prop-vw(height, 16, xl);
            &--active {
                opacity: 0;
                color: $color-blue-hover;
            }
            
            @include only(desktop) {
                @include prop-vw(min-width, 16, lg);
                @include prop-vw(width, 16, lg);
                @include prop-vw(height, 16, lg);
            }
            @include only(mobile) {
                @include prop-vw(min-width, 16, sm);
                @include prop-vw(width, 16, sm);
                @include prop-vw(height, 16, sm);
            }
        }
        &__date {
            display: block;
            width: fit-content;
            @include prop-vw(font-size, 14, xl);
            font-weight: normal;
            line-height: 1.57142857143;
            color: $color-dark-grey;

            @include only(desktop) {
                @include prop-vw(font-size, 14, lg);
            }
            @include only(mobile) {
                @include prop-vw(font-size, 14, sm);
            }
        }
        &__gallery {
            @include prop-vw(margin-top, 20, xl);
            
            @include only(desktop) {
                @include prop-vw(margin-top, 20, lg);
            }
            @include only(mobile) {
                @include prop-vw(margin-top, 20, sm);
            }
        }
        &__comments {
            @include prop-vw(margin-top, 20, xl);

            @include only(desktop) {
                @include prop-vw(margin-top, 20, lg);
            }
            @include only(mobile) {
                @include prop-vw(margin-top, 20, sm);
                @include border-side(top, 10, solid, $color-bg, sm);
            }
        }
    }

    .comments {
        &__wrap {
            color: $color-black;

            @include up(tablet) {
                @include prop-vw(padding, 25, xl);
                background: $color-white;
                @include prop-vw(border-radius, 20, xl);
                box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.05);
            }
            @include only(mobile) {
                @include prop-vw(padding-block, 20, sm);
                @include prop-vw(padding-inline, 10, sm);
            }
        }
        &__heading {
            display: block;
            @include prop-vw(margin-bottom, 20, xl);
            width: fit-content;
            font-family: $font-secondary;
            @include prop-vw(font-size, 26, xl);
            font-weight: bold;
            line-height: 1.07692307692;

            @include only(desktop) {
                @include prop-vw(margin-bottom, 20, lg);
                @include prop-vw(font-size, 26, lg);
            }
            @include only(mobile) {
                @include prop-vw(margin-bottom, 20, sm);
                @include prop-vw(font-size, 24, sm);
                line-height: 1.20833333333;
            }
        }
        &__description {
            display: block;
            width: fit-content;
            @include prop-vw(font-size, 14, xl);
            font-weight: normal;
            line-height: 1.57142857143;

            @include only(desktop) {
                @include prop-vw(font-size, 14, lg);
            }
            @include only(mobile) {
                @include prop-vw(font-size, 14, sm);
            }
        }
        &__new {
            @include up(tablet) {
                @include prop-vw(padding, 25, xl);
                background: $color-white;
                @include prop-vw(border-radius, 20, xl);
                box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.05);
            }
            @include only(mobile) {
                @include prop-vw(padding-block, 20, sm);
                @include prop-vw(padding-inline, 10, sm);
            }

            .reviews-reply-header {
                display: block;
                @include prop-vw(margin-bottom, 20, xl);
                padding: 0 !important;
                width: fit-content;
                font-family: $font-secondary;
                @include prop-vw(font-size, 26, xl);
                font-weight: bold;
                line-height: 1.07692307692;


                @include only(mobile) {
                    @include prop-vw(margin-bottom, 20, sm);
                    @include prop-vw(font-size, 24, sm);
                    line-height: 1.20833333333;
                }
            }
            .reviews-reply-buttons {
                display: flex;
                align-items: center;
                @include prop-vw(gap, 10, xl);
                margin-left: auto;
                padding: 0 !important;
                width: fit-content;
                input[name="send_button"],
                input[name="view_button"] {
                    display: block;
                    @include prop-vw(padding-top, 10, xl, true);
                    @include prop-vw(padding-bottom, 12, xl, true);
                    @include prop-vw(padding-inline, 12, xl, true);
                    @include prop-vw(min-width, 98, xl);
                    width: fit-content;
                    @include prop-vw(font-size, 14, xl, true);
                    font-weight: normal;
                    line-height: 1;
                    text-align: center;
                    color: $color-white;
                    background: $color-blue;
                    border: none;
                    @include prop-vw(border-radius, 14, xl, true);
                    &:focus {
                        outline: none;
                    }

                    @media screen and (hover: hover) {
                        &:hover:not([disabled]) {
                            color: $color-white;
                            background: $color-blue-hover;
                        }
                    }
                }
            }
            .bxhtmled-area-cnt,
            .bxhtmled-iframe-cnt {
                max-width: 100% !important;
                width: 100% !important;
            }
        }
    }

    .gallery {
        &__main {
            overflow: hidden;
            width: 100%;
            @include prop-vw(border-radius, 10, xl);

            @include only(mobile) {
                @include prop-vw(border-radius, 10, sm);
            }
        }
        &__img {
            position: relative;
            z-index: 1;
            display: block;
            width: 100%;
            &::before {
                content: '';
                display: block;
                padding-top: 57.683%;
            }
            img {
                position: absolute;
                inset: 0;
                z-index: 1;
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &__thumbs {
            margin-top: 5px;
        }
        &__thumbs {
            &.is-hidden {
                display: none;
            }
            .swiper-slide {
                overflow: hidden;
                @include prop-vw(width, 100, xl);
                opacity: 0.7;
                @include prop-vw(border-radius, 5, xl);
            }
            .swiper-slide-thumb-active {
                opacity: 1;
                .gallery {
                    &__thumb-img {
                        &::after {
                            border-color: $color-blue-hover;
                        }
                    }
                }
            }
        }
        &__thumb-img {
            position: relative;
            z-index: 1;
            display: block;
            overflow: hidden;
            width: 100%;
            cursor: pointer;
            &::before {
                content: '';
                display: block;
                padding-top: 59.38%;
            }
            &::after {
                content: '';
                position: absolute;
                inset: 0;
                z-index: 1;
                display: block;
                width: 100%;
                height: 100%;
                @include border-all(2, solid, transparent, xl);
                @include prop-vw(border-radius, 5, xl);
                pointer-events: none;
            }
            img {
                position: absolute;
                inset: 0;
                z-index: 1;
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &__nav {
            position: absolute;
            top: 50%;
            z-index: 10;
            transform: translate(0, -50%);
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;
            @include prop-vw(width, 30, xl);
            @include prop-vw(height, 30, xl);
            font-size: 0;
            background: $color-bg;
            border: none;
            border-radius: 50%;
            &:focus {
                outline: none;
            }
            & > svg {
                @include prop-vw(min-width, 16, xl);
                @include prop-vw(width, 16, xl);
                @include prop-vw(height, 16, xl);
                color: $color-black;
            }

            @media screen and (hover: hover) {
                &:hover {
                    & > svg {
                        color: $color-blue-hover;
                    }
                }
            }
            @include only(mobile) {
                @include prop-vw(width, 30, sm);
                @include prop-vw(height, 30, sm);
                & > svg {
                    @include prop-vw(min-width, 16, sm);
                    @include prop-vw(width, 16, sm);
                    @include prop-vw(height, 16, sm);
                }
            }
        }
        &__nav--prev {
            @include prop-vw(left, 10, xl);

            @include only(mobile) {
                @include prop-vw(left, 10, sm);
            }
        }
        &__nav--next {
            @include prop-vw(right, 10, xl);

            @include only(mobile) {
                @include prop-vw(right, 10, sm);
            }
        }
        &__pagination { 
            position: absolute;
            left: 50%;
            z-index: 1;
            transform: translate(-50%, 0);
            display: flex;
            align-items: center;
            justify-content: center;

            @include up(tablet) {
                display: none;
            }
            @include only(mobile) {
                @include prop-vw(bottom, 5, sm);
                @include prop-vw(gap, 5, sm);
            }
        }
        .swiper-pagination-bullet {
            display: block;
            overflow: hidden;
            margin: 0;
            padding: 0;
            opacity: 1;
            background: $color-bg;

            @include only(mobile) {
                @include prop-vw(min-width, 10, sm);
                @include prop-vw(width, 10, sm);
                @include prop-vw(height, 10, sm);
            }
        }
        .swiper-pagination-bullet-active {
            background: $color-blue-hover;
        }
    }

    .comments__wrap .reviews-reply-header {
        padding: 0;
        display: flex;
        align-items: center;
        @include prop-vw(margin-bottom, 20, xl);
        border: 0;

        @include only(desktop) {
            @include prop-vw(margin-bottom, 20, lg);
        }
        @include only(mobile) {
            @include prop-vw(margin-bottom, 20, sm);
        }
    }
    .comments__wrap .reviews-reply-header span {
        display: block;
        width: fit-content;
        font-family: $font-secondary;
        @include prop-vw(font-size, 26, xl);
        font-weight: bold;
        line-height: 1.07692307692;
        color: $color-black;

        @include only(desktop) {
            @include prop-vw(font-size, 26, lg);
        }
        @include only(mobile) {
            @include prop-vw(font-size, 24, sm);
            line-height: 1.20833333333;
        }
    }
    .comments__wrap .reviews-reply-field.reviews-reply-field-text {
        @include prop-vw(font-size, 14, xl);
        font-weight: normal;

        @include only(desktop) {
            @include prop-vw(font-size, 14, lg);
        }
        @include only(mobile) {
            @include prop-vw(font-size, 14, sm);
        }
    }
    .comments__wrap .feed-add-post[data-bx-html-editable="Y"] {
        overflow: hidden;
        background: transparent;
        @include border-all(1, solid, $color-border, xl);
        @include prop-vw(border-radius, 14, xl);

        @include only(desktop) {
            @include border-all(1, solid, $color-border, lg);
            @include prop-vw(border-radius, 14, lg);
        }
        @include only(mobile) {
            @include border-all(1, solid, $color-border, sm);
            @include prop-vw(border-radius, 14, sm);
        }
    }
    .comments__wrap .main-post-form-toolbar {
        display: none !important;
    }
    .comments__wrap .feed-add-post-dnd-notice {
        display: none !important;
    }
    .comments__wrap .bx-html-editor {
        overflow: hidden !important;
        @include prop-vw(margin-bottom, -27, xl);
        border: none !important;
        border-radius: 0 !important;

        @include only(desktop) {
            @include prop-vw(margin-bottom, -27, lg);
        }
        @include only(mobile) {
            @include prop-vw(margin-bottom, -27, sm);
        }
    }
    .comments__wrap .bxhtmled-toolbar-cnt,
    .comments__wrap .main-post-form-toolbar {
        display: none;
    }
    .comments__wrap .bxhtmled-area-cnt {
        @include prop-vw(height, 99, xl, true);

        @include only(desktop) {
            @include prop-vw(height, 99, lg, true);
        }
        @include only(mobile) {
            @include prop-vw(height, 99, sm, true);
        }
    }
    .comments__wrap .bxhtmled-area-cnt {
        @include prop-vw(top, 12, xl, true);

        @include only(desktop) {
            @include prop-vw(top, 12, lg, true);
        }
        @include only(mobile) {
            @include prop-vw(top, 12, sm, true);
        }
    }
    .comments__wrap .bx-editor-iframe {
        background: #fff;
    }
    .comments__wrap .feed-add-post-buttons {
        display: flex !important;
        justify-content: flex-end !important;
        @include prop-vw(gap, 10, xl, true);
        @include prop-vw(padding, 5, xl, true);

        @include only(desktop) {
            @include prop-vw(gap, 10, lg, true);
            @include prop-vw(padding, 5, lg, true);
        }
        @include only(mobile) {
            @include prop-vw(gap, 10, sm, true);
            @include prop-vw(padding, 5, sm, true);
        }
    }
    .comments__wrap .ui-btn {
        display: block !important;
        margin: 0 !important;
        @include prop-vw(padding-top, 10, xl, true);
        @include prop-vw(padding-bottom, 12, xl, true);
        @include prop-vw(padding-inline, 12, xl, true);
        @include prop-vw(min-width, 98, xl, true);
        width: fit-content !important;
        height: auto !important;
        @include prop-vw(font-size, 14, xl, true);
        font-weight: normal !important;
        line-height: 1 !important;
        text-align: center !important;
        text-transform: none !important;
        color: $color-white !important;
        background: $color-blue !important;
        border: none !important;
        @include prop-vw(border-radius, 14, xl, true);
        &:focus {
            outline: none;
        }
        &:hover {
            color: $color-white !important;
        }

        @media screen and (hover: hover) {
            &:hover:not([disabled]) {
                color: $color-white;
                background: $color-blue-hover;
            }
        }
        @include only(desktop) {
            @include prop-vw(padding-top, 10, lg, true);
            @include prop-vw(padding-bottom, 12, lg, true);
            @include prop-vw(padding-inline, 12, lg, true);
            @include prop-vw(min-width, 98, lg, true);
            @include prop-vw(font-size, 14, lg, true);
            @include prop-vw(border-radius, 14, lg, true);
        }
        @include only(mobile) {
            @include prop-vw(padding-top, 10, sm, true);
            @include prop-vw(padding-bottom, 12, sm, true);
            @include prop-vw(padding-inline, 12, sm, true);
            @include prop-vw(min-width, 98, sm, true);
            @include prop-vw(font-size, 14, sm, true);
            @include prop-vw(border-radius, 14, sm, true);
        }
    }
    .comments__wrap .ui-btn-link {
        color: $color-black !important;
        background: $color-bg !important;
        &:hover {
            color: $color-black !important;
        }

        @media screen and (hover: hover) {
            &:hover:not([disabled]) {
                color: $color-white;
                background: $color-blue-hover;
            }
        }
    }
    .comments__wrap .feed-com-all {
        display: block;
        @include prop-vw(margin-top, 20, xl);
        width: fit-content;
        @include prop-vw(font-size, 14, xl);
        line-height: 1.57142857143;
        color: $color-dark-grey;

        @media screen and (hover: hover) {
            &:hover {
                color: $color-blue;
            }
        }
        @include only(desktop) {
            @include prop-vw(margin-top, 20, lg);
            @include prop-vw(font-size, 14, lg);
        }
        @include only(mobile) {
            @include prop-vw(margin-top, 20, sm);
            @include prop-vw(font-size, 14, sm);
        }
    }
    .comments__wrap .reviews-reply-field-settings,
    .comments__wrap .reviews-reply-field-upload {
        display: none;
    }
    .comments__wrap .reviews-reply-buttons {
        display: none;
    }
    .comments__wrap .reviews-post-table {
        width: 100%;
        border-collapse: collapse;
        @include prop-vw(margin-top, 20, xl);
        @include prop-vw(padding-bottom, 10, xl);
        @include border-side(bottom, 1, solid, $color-grey, xl);
        display: block;

        @include only(desktop) {
            @include prop-vw(margin-top, 20, lg);
            @include prop-vw(padding-bottom, 10, lg);
            @include border-side(bottom, 1, solid, $color-grey, lg);
        }
        @include only(mobile) {
            @include prop-vw(margin-top, 20, sm);
            @include prop-vw(padding-bottom, 10, sm);
            @include border-side(bottom, 1, solid, $color-grey, sm);
        }
    }
    .comments__wrap .reviews-post-table thead,
    .comments__wrap .reviews-post-table tbody,
    .comments__wrap .reviews-post-table tr,
    .comments__wrap .reviews-post-table td {
        display: block;
        width: 100%;
        border: 0;
        padding: 0;
    }
    .comments__wrap .reviews-post-table thead td {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include prop-vw(gap, 20, xl);
        @include prop-vw(margin-bottom, 10, xl);

        @include only(desktop) {
            @include prop-vw(gap, 20, lg);
            @include prop-vw(margin-bottom, 10, lg);
        }
        @include only(mobile) {
            @include prop-vw(gap, 20, sm);
            @include prop-vw(margin-bottom, 10, sm);
        }
    }
    .comments__wrap .reviews-post-table .review-rating {
        order: 1;
    }
    .comments__wrap .ilike {
        position: relative;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 0;
        @include prop-vw(padding-inline, 12, xl);
        @include prop-vw(min-width, 60, xl);
        @include prop-vw(height, 36, xl);
        background: $color-bg;
        @include prop-vw(border-radius, 14, xl);

        @include only(desktop) {
            @include prop-vw(padding-inline, 12, lg);
            @include prop-vw(min-width, 60, lg);
            @include prop-vw(height, 36, lg);
            @include prop-vw(border-radius, 14, lg);
        }
        @include only(mobile) {
            @include prop-vw(padding-inline, 12, sm);
            @include prop-vw(min-width, 60, sm);
            @include prop-vw(height, 36, sm);
            @include prop-vw(border-radius, 14, sm);
        }
    }
    .comments__wrap .bx-ilike-left-wrap.bx-you-like-button-like.bx-you-like-button {}
    .comments__wrap .bx-ilike-right-wrap {
        display: block;
        @include prop-vw(padding-left, 21, xl);

        @include only(desktop) {
            @include prop-vw(padding-left, 21, lg);
        }
        @include only(mobile) {
            @include prop-vw(padding-left, 21, sm);
        }
    }
    .comments__wrap .reviews-post-reply-buttons {
        @include prop-vw(margin-top, 10, xl);
        @include prop-vw(font-size, 12, xl);
        font-weight: normal;
        line-height: 1.16666666667;
        color: $color-dark-grey;

        @include only(desktop) {
            @include prop-vw(margin-top, 10, lg);
            @include prop-vw(font-size, 12, lg);
        }
        @include only(mobile) {
            @include prop-vw(margin-top, 10, sm);
            @include prop-vw(font-size, 12, sm);
        }
    }
    .comments__wrap .blog-comment-edit.feed-com-add-block.blog-post-edit[style*="display: block"] + .feed-com-footer {
        display: none;
    }
    .comments__wrap .feed-hidden-post[style*="max-height: none"] {
        @include prop-vw(font-size, 14, xl);
        line-height: 1.57142857143;

        @include only(desktop) {
            @include prop-vw(font-size, 14, lg);
        }
        @include only(mobile) {
            @include prop-vw(font-size, 14, sm);
        }
    }
    .comments__wrap .feed-hidden-post[style*="max-height: none"] .feed-com-block-cover {
        @include prop-vw(margin-top, 20, xl);

        @include only(desktop) {
            @include prop-vw(margin-top, 20, lg);
        }
        @include only(mobile) {
            @include prop-vw(margin-top, 20, sm);
        }
    }
    .comments__wrap .bx-ilike-right {
        display: block;
        margin-left: auto;
        width: fit-content;
        height: auto;
        @include prop-vw(font-size, 14, xl);
        font-weight: normal;
        line-height: 1;
        color: $color-black;

        @include only(desktop) {
            @include prop-vw(font-size, 14, lg);
        }
        @include only(mobile) {
            @include prop-vw(font-size, 14, sm);
        }
    }
    .comments__wrap .reviews-post-table .bx-ilike-left-wrap,
    .comments__wrap .reviews-post-table .bx-ilike-left {
        display: none;
    }
    .comments__wrap .reviews-post-table .bx-ilike-text {
        display: none;
    }
    .comments__wrap .reviews-post-table .bx-ilike-right::before {
        content: '';
        position: absolute;
        top: 50%;
        @include prop-vw(left, 12, xl);
        z-index: 1;
        transform: translate(0, -50%);
        display: block;
        @include prop-vw(min-width, 16, xl);
        @include prop-vw(width, 16, xl);
        @include prop-vw(height, 16, xl);
        background-image: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_3021_307)"><path d="M14.8326 2.32094C14.0435 1.4255 12.9487 0.932373 11.75 0.932373C10.0641 0.932373 8.99678 1.93925 8.39828 2.78394C8.243 3.00312 8.11091 3.2229 8 3.42972C7.88909 3.2229 7.75703 3.00312 7.60172 2.78394C7.00322 1.93925 5.93587 0.932373 4.25 0.932373C3.05131 0.932373 1.95653 1.42553 1.16734 2.32097C0.414594 3.17515 0 4.31915 0 5.54222C0 6.87356 0.519781 8.11184 1.63578 9.43909C2.63319 10.6253 4.06809 11.8481 5.72969 13.264C6.34884 13.7916 6.98912 14.3372 7.67078 14.9337L7.69125 14.9516C7.77962 15.029 7.88981 15.0676 8 15.0676C8.11019 15.0676 8.22038 15.0289 8.30875 14.9516L8.32922 14.9337C9.01087 14.3372 9.65116 13.7917 10.2704 13.2639C11.9319 11.8481 13.3668 10.6254 14.3642 9.43909C15.4802 8.11181 16 6.87356 16 5.54222C16 4.31915 15.5854 3.17515 14.8326 2.32094ZM9.66228 12.5504C9.12853 13.0052 8.57922 13.4733 8 13.9769C7.42081 13.4734 6.87147 13.0053 6.33763 12.5504C3.08578 9.77934 0.9375 7.94869 0.9375 5.54222C0.9375 4.54753 1.26891 3.62365 1.87069 2.94081C2.47937 2.25022 3.32434 1.86987 4.25 1.86987C5.53528 1.86987 6.36613 2.66169 6.83675 3.32594C7.25891 3.92169 7.47919 4.52225 7.55431 4.75278C7.58496 4.84684 7.64458 4.92879 7.72463 4.9869C7.80469 5.04501 7.90108 5.07631 8 5.07631C8.09892 5.07631 8.19531 5.04501 8.27537 4.9869C8.35542 4.92879 8.41504 4.84684 8.44569 4.75278C8.52081 4.52225 8.74109 3.92169 9.16325 3.3259C9.63387 2.66169 10.4647 1.86987 11.75 1.86987C12.6757 1.86987 13.5206 2.25022 14.1293 2.94081C14.7311 3.62365 15.0625 4.54753 15.0625 5.54222C15.0625 7.94869 12.9142 9.77934 9.66228 12.5504Z" fill="%230D75DA"/></g><defs><clipPath id="clip0_3021_307"><rect width="16" height="16" fill="white"/></clipPath></defs></svg>');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;

        @include only(desktop) {
            @include prop-vw(left, 12, lg);
            @include prop-vw(min-width, 16, lg);
            @include prop-vw(width, 16, lg);
            @include prop-vw(height, 16, lg);
        }
        @include only(mobile) {
            @include prop-vw(left, 12, sm);
            @include prop-vw(min-width, 16, sm);
            @include prop-vw(width, 16, sm);
            @include prop-vw(height, 16, sm);
        }
    }
    .comments__wrap .reviews-post-table .bx-ilike-right::after {
        content: '';
        position: absolute;
        top: 50%;
        @include prop-vw(left, 12, xl);
        z-index: 1;
        transform: translate(0, -50%);
        display: block;
        @include prop-vw(min-width, 16, xl);
        @include prop-vw(width, 16, xl);
        @include prop-vw(height, 16, xl);
        background-image: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_3021_335)"><path d="M11.75 0.9375C10.8818 0.9375 10.0858 1.21262 9.38416 1.75525C8.7115 2.27547 8.26366 2.93806 8 3.41987C7.73634 2.93803 7.2885 2.27547 6.61584 1.75525C5.91422 1.21262 5.11822 0.9375 4.25 0.9375C1.82713 0.9375 0 2.91928 0 5.54731C0 8.3865 2.27947 10.329 5.73028 13.2697C6.31628 13.7692 6.9805 14.3352 7.67088 14.9389C7.76188 15.0186 7.87875 15.0625 8 15.0625C8.12125 15.0625 8.23813 15.0186 8.32913 14.939C9.01956 14.3352 9.68375 13.7691 10.2701 13.2694C13.7205 10.329 16 8.3865 16 5.54731C16 2.91928 14.1729 0.9375 11.75 0.9375Z" fill="%230D75DA"/></g><defs><clipPath id="clip0_3021_335"><rect width="16" height="16" fill="white"/></clipPath></defs></svg>');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;

        @include only(desktop) {
            @include prop-vw(left, 12, lg);
            @include prop-vw(min-width, 16, lg);
            @include prop-vw(width, 16, lg);
            @include prop-vw(height, 16, lg);
        }
        @include only(mobile) {
            @include prop-vw(left, 12, sm);
            @include prop-vw(min-width, 16, sm);
            @include prop-vw(width, 16, sm);
            @include prop-vw(height, 16, sm);
        }
    }
    .comments__wrap .reviews-post-table thead {
        @include border-side(bottom, 1, solid, $color-grey, xl);

        @include only(desktop) {
            @include border-side(bottom, 1, solid, $color-grey, lg);
        }
        @include only(mobile) {
            @include border-side(bottom, 1, solid, $color-grey, sm);
        }
    }
    .comments__wrap .reviews-post-table b {
        display: block;
        width: fit-content;
        @include prop-vw(font-size, 14, xl);
        font-weight: normal;
        line-height: 1.57142857143;
        color: $color-dark-grey;

        @include only(desktop) {
            @include prop-vw(font-size, 14, lg);
        }
        @include only(mobile) {
            @include prop-vw(font-size, 14, sm);
        }
    }
    .comments__wrap .reviews-post-table .message-post-date {
        margin-left: auto;
        @include prop-vw(font-size, 12, xl);
        font-weight: normal;
        line-height: 1.16666666667;
        color: $color-dark-grey;

        @include only(desktop) {
            @include prop-vw(font-size, 12, lg);
        }
        @include only(mobile) {
            @include prop-vw(font-size, 12, sm);
        }
    }
    .comments__wrap .reviews-text {
        @include prop-vw(margin-top, 20, xl);
        @include prop-vw(font-size, 14, xl);
        line-height: 1.57142857143;
        color: $color-black;

        @include only(desktop) {
            @include prop-vw(margin-top, 20, lg);
            @include prop-vw(font-size, 14, lg);
        }
        @include only(mobile) {
            @include prop-vw(margin-top, 20, sm);
            @include prop-vw(font-size, 14, sm);
        }
    }
    .comments__wrap .feed-wrap {
        @include prop-vw(margin-top, 20, xl);

        @include only(desktop) {
            @include prop-vw(margin-top, 20, lg);
        }
        @include only(mobile) {
            @include prop-vw(margin-top, 20, sm);
        }
    }
    .comments__wrap .feed-comments-block {
        margin: 0;
    }
    .comments__wrap .feed-com-block {
        display: flex;
        align-items: flex-start;
        @include prop-vw(gap, 10, xl);
        @include prop-vw(padding-left, 40, xl);

        @include only(desktop) {
            @include prop-vw(gap, 10, lg);
            @include prop-vw(padding-left, 40, lg);
        }
        @include only(mobile) {
            @include prop-vw(gap, 10, sm);
            @include prop-vw(padding-left, 20, sm);
        }
    }
    .comments__wrap .feed-com-avatar {
        flex-shrink: 0;
        overflow: hidden;
        @include prop-vw(min-width, 36, xl, true);
        @include prop-vw(width, 36, xl, true);
        @include prop-vw(height, 36, xl);
        background: $color-grey;
        border-radius: 50%;

        @include only(desktop) {
            @include prop-vw(min-width, 36, lg, true);
            @include prop-vw(width, 36, lg, true);
            @include prop-vw(height, 36, lg);
        }
        @include only(mobile) {
            @include prop-vw(min-width, 36, sm, true);
            @include prop-vw(width, 36, sm, true);
            @include prop-vw(height, 36, sm);
        }
    }
    .comments__wrap .feed-com-avatar img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: inherit;
    }
    .comments__wrap .feed-com-main-content {
        flex: 1;
    }
    .comments__wrap .forum-upload-file-attach {
        display: none !important;
    }
    .comments__wrap .feed-com-name.feed-author-name {
        display: none;
    }
    .comments__wrap .feed-com-user-box .feed-com-name.feed-author-name {
        display: block;
    }
    .comments__wrap .feed-post-more-text,
    .comments__wrap .feed-com-reply,
    .comments__wrap .feed-post-more-link {
        display: block;
        width: fit-content;
        @include prop-vw(font-size, 12, xl);
        font-weight: normal;
        line-height: 1;
        color: $color-dark-grey;

        @media screen and (hover: hover) {
            &:hover {
                color: $color-blue;
            }
        }
        @include only(desktop) {
            @include prop-vw(font-size, 12, lg);
        }
        @include only(mobile) {
            @include prop-vw(font-size, 12, sm);
        }
    }
    .comments__wrap .feed-com-name {
        display: inline-block;
        width: fit-content;
        @include prop-vw(font-size, 14, xl);
        font-weight: normal;
        line-height: 1.57142857143;
        color: $color-dark-grey;

        @include only(desktop) {
            @include prop-vw(font-size, 14, lg);
        }
        @include only(mobile) {
            @include prop-vw(font-size, 14, sm);
        }
    }
    .comments__wrap .feed-com-user-box {
        position: relative;
        z-index: 1;
        @include prop-vw(padding-bottom, 10, xl);
        &::before {
            content: '';
            position: absolute;
            @include prop-vw(left, -78, xl);
            bottom: 0;
            z-index: 1;
            display: block;
            width: 100%;
            @include prop-vw(height, 1, xl);
            background: $color-grey;
            pointer-events: none;
        }

        @include only(desktop) {
            @include prop-vw(padding-bottom, 10, lg);
            &::before {
                @include prop-vw(left, -34.5, lg);
                @include prop-vw(height, 1, lg);
            }
        }
        @include only(mobile) {
            @include prop-vw(padding-bottom, 10, sm);
            &::before {
                @include prop-vw(left, -46, sm);
                @include prop-vw(height, 1, sm);
            }
        }
    }
    .comments__wrap .feed-com-time {
        display: block;
        width: fit-content;
        @include prop-vw(font-size, 12, xl);
        font-weight: normal;
        line-height: 1.16666666667;
        color: $color-dark-grey;

        @include only(desktop) {
            @include prop-vw(font-size, 12, lg);
        }
        @include only(mobile) {
            @include prop-vw(font-size, 12, sm);
        }
    }
    .comments__wrap .feed-com-text-inner-inner {
        display: block;
        @include prop-vw(margin-top, 20, xl);
        @include prop-vw(font-size, 14, xl);
        font-weight: normal;
        line-height: 1.57142857143;
        color: $color-black;

        @include only(desktop) {
            @include prop-vw(margin-top, 20, lg);
            @include prop-vw(font-size, 14, lg);
        }
        @include only(mobile) {
            @include prop-vw(margin-top, 20, sm);
            @include prop-vw(font-size, 14, sm);
        }
    }
    .comments__wrap .feed-com-informers-bottom {
        display: flex;
        align-items: center;
        @include prop-vw(gap, 10, xl);
        @include prop-vw(margin-top, 20, xl);
        @include prop-vw(margin-left, 86, xl);

        @include only(desktop) {
            @include prop-vw(gap, 10, lg);
            @include prop-vw(margin-top, 20, lg);
            @include prop-vw(margin-left, 86, lg);
        }
        @include only(mobile) {
            @include prop-vw(gap, 10, sm);
            @include prop-vw(margin-top, 20, sm);
            @include prop-vw(margin-left, 66, sm);
        }
    }
    .comments__wrap .feed-com-reply {
        text-decoration: none;
    }
    .comments__wrap .feed-com-block-cover .bxhtmled-toolbar-cnt,
    .comments__wrap .feed-com-block-cover .main-post-form-toolbar {
        display: none;
    }
    .comments__wrap .feed-com-reply,
    .comments__wrap .feed-post-more-link,
    .comments__wrap .reviews-button-small {
        @media screen and (hover: hover) {
            &:hover {
                color: $color-blue;
            }
        }
    }
    .comments__wrap .feed-com-add-box-outer {
        display: flex;
        @include prop-vw(gap, 10, xl);
        @include prop-vw(margin-top, 20, xl);

        @include only(desktop) {
            @include prop-vw(gap, 10, lg);
            @include prop-vw(margin-top, 20, lg);
        }
        @include only(mobile) {
            @include prop-vw(gap, 10, sm);
            @include prop-vw(margin-top, 20, sm);
        }
    }
    .comments__wrap .feed-com-add-box-outer .feed-com-avatar {
        @include prop-vw(margin-top, 1.5, xl);

        @include only(desktop) {
            @include prop-vw(margin-top, 1.5, lg);
        }
        @include only(mobile) {
            @include prop-vw(margin-top, 1.5, sm);
        }
    }
    .comments__wrap .feed-com-block-cover + .feed-com-block-cover {
        @include prop-vw(margin-top, 20, xl);

        @include only(desktop) {
            @include prop-vw(margin-top, 20, lg);
        }
        @include only(mobile) {
            @include prop-vw(margin-top, 20, sm);
        }
    }
    .comments__wrap .feed-com-add-box {
        flex: 1;
        @include prop-minus(max-width, 100%, 56, xl);

        @include only(desktop) {
            @include prop-minus(max-width, 100%, 56, lg);
        }
        @include only(mobile) {
            @include prop-minus(max-width, 100%, 56, sm);
        }
    }
    .comments__wrap .feed-com-footer {
        @include border-all(1, solid, $color-grey, xl);
        @include prop-vw(border-radius, 14, xl);
        @include prop-vw(padding-block, 12, xl);
        @include prop-vw(padding-inline, 14, xl);
        cursor: text;

        @include only(desktop) {
            @include border-all(1, solid, $color-grey, lg);
            @include prop-vw(border-radius, 14, lg);
            @include prop-vw(padding-block, 12, lg);
            @include prop-vw(padding-inline, 14, lg);
        }
        @include only(mobile) {
            @include border-all(1, solid, $color-grey, sm);
            @include prop-vw(border-radius, 14, sm);
            @include prop-vw(padding-block, 12, sm);
            @include prop-vw(padding-inline, 14, sm);
        }
    }
    .comments__wrap .feed-com-add-link {
        display: block;
        width: 100%;
        @include prop-vw(font-size, 12, xl);
        font-weight: normal;
        line-height: 1;
        color: $color-dark-grey;

        @include only(desktop) {
            @include prop-vw(font-size, 12, lg);
        }
        @include only(mobile) {
            @include prop-vw(font-size, 12, sm);
        }
    }
    .comments__wrap .feed-com-add-link:hover {
        color: $color-dark-grey;
    }
    .comments__wrap .comments-form {
        margin-top: 0;
    }
    .comments__wrap .reviews-reply-field.reviews-reply-field-text .ui-btn.ui-btn-sm.ui-btn-link {
        display: none !important;
    }
}