@use '@/assets/styles/base/mixins' as *;
@use '@/assets/styles/base/vars' as *;

@layer components {
    .btn {
        display: block;
        @include prop-vw(padding-block, 17, xl);
        @include prop-vw(padding-inline, 26, xl);
        @include prop-vw(font-size, 16, xl);
        font-weight: 600;
        line-height: 1;
        text-align: center;
        color: $color-white;
        background: $color-blue;
        border: none;
        @include prop-vw(border-radius, 14, xl);
        transition: color $transition-default, background $transition-default;
        &:focus {
            outline: none;
        }
        &--sm {
            @include prop-vw(padding-block, 16, xl);
            @include prop-vw(padding-inline, 24, xl);
            @include prop-vw(font-size, 14, xl);
        }
        &--secondary {
            color: $color-black;
            background: $color-bg;
        }
        &[disabled] {
            background: $color-dark-grey;
        }
        &.is--error {
            background: $color-red;
        }

        @media screen and (hover: hover) {
            &:hover:not([disabled]) {
                color: $color-white;
                background: $color-blue-hover;
            }
        }
        @include only(desktop) {
            @include prop-vw(padding-block, 17, lg);
            @include prop-vw(padding-inline, 26, lg);
            @include prop-vw(font-size, 16, lg);
            @include prop-vw(border-radius, 14, lg);
            &--sm {
                @include prop-vw(padding-block, 16, lg);
                @include prop-vw(padding-inline, 24, lg);
                @include prop-vw(font-size, 14, lg);
            }
        }
        @include only(mobile) {
            @include prop-vw(padding-block, 17, sm);
            @include prop-vw(padding-inline, 26, sm);
            @include prop-vw(font-size, 16, sm);
            @include prop-vw(border-radius, 14, sm);
            &--sm {
                @include prop-vw(padding-block, 16, sm);
                @include prop-vw(padding-inline, 24, sm);
                @include prop-vw(font-size, 14, sm);
            }
        }
    }
}