@use '@/assets/styles/base/mixins' as *;
@use '@/assets/styles/base/vars' as *;

@layer components {
    .field {
        &--toggle {
            .field {
                &__input {
                    @include prop-vw(padding-right, 40, xl);
                }
            }
        }
        &.is--error {
            .field {
                &__input,
                &__textarea {
                    border-color: $color-red;
                }
                &__error {
                    display: block;
                }
            }
        }

        @include only(desktop) {
            &--toggle {
                .field {
                    &__input {
                        @include prop-vw(padding-right, 40, lg);
                    }
                }
            }
        }
        @include only(mobile) {
            &--toggle {
                .field {
                    &__input {
                        @include prop-vw(padding-right, 40, sm);
                    }
                }
            }
        }

        &__label {
            display: block;
            @include prop-vw(margin-bottom, 2, xl);
            width: fit-content;
            @include prop-vw(font-size, 14, xl);
            font-weight: normal;
            line-height: 1.57142857143;

            @include only(desktop) {
                @include prop-vw(margin-bottom, 2, lg);
                @include prop-vw(font-size, 14, lg);
            }
			@include only(mobile) {
                @include prop-vw(margin-bottom, 2, sm);
                @include prop-vw(font-size, 14, sm);
            }
        }
        &__control {
            position: relative;
            z-index: 1;
        }
        &__input,
        &__textarea {
            display: block;
            @include prop-vw(padding-block, 12.75, xl);
            @include prop-vw(padding-inline, 15, xl);
            width: 100%;
            @include prop-vw(font-size, 16, xl);
            font-weight: normal;
            line-height: 1;
            color: $color-black;
            background: $color-white;
            @include border-all(1, solid, #E1E1E1, xl);
            @include prop-vw(border-radius, 14, xl);
            transition: background $transition-default, border $transition-default;
            &::placeholder {
                @include prop-vw(font-size, 14, xl);
                color: $color-dark-grey;
                transition: color $transition-default;
            }
            &:focus {
                outline: none;
                border-color: $color-form-focus;
            }
            &[disabled] {
                color: $color-dark-grey;
                background: #F3F6FC;
                border-color: $color-border;
            }

            @media screen and (hover: hover) {
                &:hover:not([disabled]) {
                    &::placeholder {
                        color: rgba($color-black, 0.5);
                    }
                }
            }
            @include only(desktop) {
                @include prop-vw(padding-block, 12.75, lg);
                @include prop-vw(padding-inline, 15, lg);
                @include prop-vw(font-size, 16, lg);
                @include border-all(1, solid, #E1E1E1, lg);
                @include prop-vw(border-radius, 14, lg);
                &::placeholder {
                    @include prop-vw(font-size, 14, lg);
                }
            }
			@include only(mobile) {
                @include prop-vw(padding-block, 12.75, sm);
                @include prop-vw(padding-inline, 15, sm);
                @include prop-vw(font-size, 16, sm);
                @include border-all(1, solid, #E1E1E1, sm);
                @include prop-vw(border-radius, 14, sm);
                &::placeholder {
                    @include prop-vw(font-size, 14, sm);
                }
            }
        }
        &__textarea {
            overflow: hidden;
            resize: none;
        }
        &__visibility {
            position: absolute;
            top: 50%;
            @include prop-vw(right, 12, xl);
            z-index: 1;
            transform: translate(0, -50%);
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;
            @include prop-vw(width, 24, xl);
            @include prop-vw(height, 24, xl);
            font-size: 0;
            background: transparent;
            border: none;
            border-radius: 0;
            transition: all $transition-default;
            &:focus {
                outline: none;
            }
            &.is--active {
                .field {
                    &__visibility-icon {
                        &--show {
                            opacity: 0;
                        }
                        &--hide {
                            opacity: 1;
                        }
                    }
                }
            }

            @media screen and (hover: hover) {
                &:hover {
                    & > svg {
                        color: $color-form-focus;
                    }
                }
            }
            @include only(desktop) {
                @include prop-vw(right, 12, lg);
                @include prop-vw(width, 24, lg);
                @include prop-vw(height, 24, lg);
            }
			@include only(mobile) {
                @include prop-vw(right, 12, sm);
                @include prop-vw(width, 24, sm);
                @include prop-vw(height, 24, sm);
            }
        }
        &__visibility-icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            @include prop-vw(width, 16, xl);
            @include prop-vw(height, 16, xl);
            color: $color-black;
            &--hide {
                opacity: 0;
            }

            @include only(desktop) {
                @include prop-vw(width, 16, lg);
                @include prop-vw(height, 16, lg);
            }
			@include only(mobile) {
                @include prop-vw(width, 16, sm);
                @include prop-vw(height, 16, sm);
            }
        }
        &__help {
            display: block;
            @include prop-vw(margin-top, 2, xl);
            width: fit-content;
            @include prop-vw(font-size, 12, xl);
            font-weight: normal;
            color: $color-dark-grey;

            @include only(desktop) {
                @include prop-vw(margin-top, 2, lg);
                @include prop-vw(font-size, 12, lg);
            }
			@include only(mobile) {
                @include prop-vw(margin-top, 2, sm);
                @include prop-vw(font-size, 12, sm);
            }
        }
        &__error {
            display: none;
            @include prop-vw(margin-top, 2, xl);
            width: fit-content;
            @include prop-vw(font-size, 12, xl);
            font-weight: normal;
            color: $color-red;

            @include only(desktop) {
                @include prop-vw(margin-top, 2, lg);
                @include prop-vw(font-size, 12, lg);
            }
			@include only(mobile) {
                @include prop-vw(margin-top, 2, sm);
                @include prop-vw(font-size, 12, sm);
            }
        }
    }
}