@use '@/assets/styles/base/mixins' as *;
@use '@/assets/styles/base/vars' as *;

@layer components {
    .package {
        &__wrap {
            @include up(tablet) {
                @include prop-vw(padding, 25, xl);
                background: $color-white;
                @include prop-vw(border-radius, 25, xl);
                box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.05);
            }
            @include only(mobile) {
                @include prop-vw(padding-inline, 10, sm);
                @include prop-vw(padding-bottom, 20, sm);
            }
        }
        &__top {
            @include prop-vw(margin-bottom, 40, xl);

            @include only(mobile) {
                @include prop-vw(margin-bottom, 20, sm);
            }
        }
        &__heading {
            display: block;
            @include prop-vw(margin-bottom, 20, xl);
            width: fit-content;
            font-family: $font-secondary;
            @include prop-vw(font-size, 30, xl);
            font-weight: bold;

            @include only(mobile) {
                @include prop-vw(margin-bottom, 20, sm);
                @include prop-vw(font-size, 32, sm);
            }
        }
        &__tabs {
            @include prop-vw(margin-bottom, 40, xl);

            @include only(mobile) {
                @include prop-vw(margin-bottom, 40, sm);
            }
        }
        &__help {
            display: block;
            @include prop-vw(margin-top, 5, xl);
            width: fit-content;
            @include prop-vw(font-size, 14, xl);
            font-weight: normal;
            color: $color-dark-grey;

            @include only(mobile) {
                @include prop-vw(margin-top, 5, sm);
                @include prop-vw(font-size, 14, sm);
            }
        }
        &__description {
            display: block;
            width: fit-content;
            @include prop-vw(font-size, 14, xl);
            font-weight: normal;

            @include only(mobile) {
                @include prop-vw(font-size, 14, sm);
            }
        }
        &__top {
            position: relative;
            z-index: 1;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            @include prop-vw(margin-bottom, 40, xl);
            width: 100%;

            @include only(mobile) {
                flex-direction: column;
                @include prop-vw(padding-bottom, 20, sm);
                &::before {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    z-index: 1;
                    transform: translate(-50%, 0);
                    display: block;
                    width: 100vw;
                    @include prop-vw(height, 10, sm);
                    background: #F5F8FA;
                    pointer-events: none;
                }
            }
        }
        &__link {
            display: block;
            width: fit-content;
            @include prop-vw(font-size, 14, xl);
            font-weight: normal;
            color: $color-blue;

            @include only(mobile) {
                @include prop-vw(margin-top, 20, sm);
                @include prop-vw(font-size, 14, sm);
            }
        }
        &__section + &__section,
        &__stats + &__stats,
        &__stats + &__wrapper,
        &__wrapper + &__stats,
        &__table + &__table {
            @include prop-vw(margin-top, 40, xl);

            @include only(mobile) {
                @include prop-vw(margin-top, 20, sm);
            }
        }
        &__table {
            padding: 0 !important;
        }
        &__wrapper {
            @include up(tablet) {
                @include prop-vw(padding, 20, xl);
                @include border-all(1, solid, #EDEDED, xl);
                @include prop-vw(border-radius, 20, xl);
            }
        }
        &__subtitle {
            display: block;
            @include prop-vw(margin-bottom, 10, xl);
            width: fit-content;
            font-family: $font-secondary;
            @include prop-vw(font-size, 18, xl);
            font-weight: bold;
            line-height: 1.33333333333;

            @include only(mobile) {
                @include prop-vw(margin-bottom, 10, sm);
                @include prop-vw(font-size, 18, sm);
            }
        }
    }

    .n-coefficient-progress {
        &__title {
            display: block;
            @include prop-vw(margin-bottom, 5, xl);
            width: fit-content;
            @include prop-vw(font-size, 16, xl);
            font-weight: normal;
            line-height: 1;
            color: #0F1A24;

            @media screen and (max-width: 767px) {
                @include prop-vw(margin-bottom, 20, sm);
                @include prop-vw(font-size, 16, sm);
            }
        }
        &__bar {
            position: relative;
            z-index: 1;
            display: block;
            overflow: hidden;
            width: 100%;
            @include prop-vw(height, 30, xl);
            background: #F3F6FC;
            @include prop-vw(border-radius, 8, xl);

            @include only(mobile) {
                @include prop-vw(height, 30, sm);
                @include prop-vw(border-radius, 8, sm);
            }
        }
        &__fill {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            z-index: 1;
            display: block;
            width: 0;
            height: 100%;
            background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 82.29%), $color-green;
            animation: fillProgress 1.15s ease-out forwards;
        }
        &__value {
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 10;
            transform: translate(-50%, -50%);
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            @include prop-vw(font-size, 16, xl);
            font-weight: normal;
            text-align: center;
            background-image:
                linear-gradient(to right, white, white),
                linear-gradient(to right, #737F8C, #737F8C);
            background-repeat: no-repeat, no-repeat;
            background-position: left center, left center;
            background-size: 0% 100%, 100% 100%;
            color: transparent;
            -webkit-background-clip: text;
                    background-clip: text;
            animation: valueProgress 1.15s ease-out forwards;

            @include only(mobile) {
                @include prop-vw(font-size, 16, sm);
            }
        }
    }

    .n-package-filter {
        position: relative;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include prop-vw(margin-bottom, 20, xl);

        @include only(mobile) {
            flex-direction: column-reverse;
            align-items: flex-start;
            @include prop-vw(margin-bottom, 20, sm);
            @include prop-vw(padding-bottom, 20, sm);
            &::before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                z-index: 1;
                display: block;
                width: 100%;
                @include prop-vw(height, 5, sm);
                background: #E1E1E1;
            }
        }

        &__search {
            @include prop-vw(max-width, 340, xl);
            width: 100%;

            @include only(mobile) {
                @include prop-vw(margin-top, 20, sm);
                max-width: none;
            }
        }
        &__search-input {
            appearance: none;
            display: block;
            @include prop-vw(padding-block, 8, xl);
            @include prop-vw(padding-inline, 10, xl);
            width: 100%;
            @include prop-vw(font-size, 12, xl);
            font-weight: normal;
            line-height: 1.5;
            background: #FFFFFF;
            @include border-all(1, solid, #E1E1E1, xl);
            @include prop-vw(border-radius, 10, xl);
            transition: all 0.25s ease-in-out;
            &::placeholder {
                opacity: 1;
                color: #575F76;
            }
            &:focus {
                outline: none;
                border-color: $color-blue;
            }

            @include only(mobile) {
                @include prop-vw(padding-block, 8, sm);
                @include prop-vw(padding-inline, 10, sm);
                @include prop-vw(font-size, 12, sm);
                @include border-all(1, solid, #E1E1E1, sm);
                @include prop-vw(border-radius, 10, sm);
            }
        }
        &__tabs {
            display: flex;
            align-items: center;
            @include prop-vw(padding-block, 3, xl);
            @include prop-vw(padding-inline, 4, xl);
            width: fit-content;
            background: $color-bg;
            @include prop-vw(border-radius, 10, xl);

            @include only(mobile) {
                @include prop-vw(padding-block, 3, sm);
                @include prop-vw(padding-inline, 4, sm);
                @include prop-vw(border-radius, 10, sm);
            }
        }
        &__tab {
            display: block;
            @include prop-vw(padding-block, 8.5, xl);
            @include prop-vw(padding-inline, 10, xl);
            width: fit-content;
            @include prop-vw(font-size, 13, xl);
            font-weight: normal;
            line-height: 1;
            text-align: center;
            color: #575F76;
            background: transparent;
            border: none;
            @include prop-vw(border-radius, 10, xl);
            transition: all 0.25s ease-in-out;
            &:focus {
                outline: none;
            }
            &:hover {
                color: #575F76;
            }
            &.is--active {
                color: #FFFFFF;
                background: $color-blue;
                &:hover {
                    color: #FFFFFF;
                }
            }

            @media screen and (hover: hover) {
                &:hover:not(.is--active) {
                    color: $color-blue;
                }
            }
            @include only(mobile) {
                @include prop-vw(padding-block, 8.5, sm);
                @include prop-vw(padding-inline, 10, sm);
                @include prop-vw(font-size, 13, sm);
                @include prop-vw(border-radius, 10, sm);
            }
        }
    }

    .n-package-table {
        @include prop-vw(padding-inline, 20, xl);
        overflow-x: auto;
        overflow-y: hidden;

        @include only(mobile) {
            padding: 0;
        }

        &__scroll {
            @include prop-vw(min-width, 778, xl);
            width: 100%;

            @include only(mobile) {
                @include prop-vw(min-width, 778, sm);
            }
        }
        &__head {
            .n-package-table__item:not(.n-package-table__item--empty) {
                @include border-side(top, 1, solid, #E1E1E1, xl);
            }
            .n-package-table__item + .n-package-table__item {
                @include border-side(left, 1, solid, transparent, xl);
            }

            @include only(mobile) {
                .n-package-table__item:not(.n-package-table__item--empty) {
                    border-top: none;
                }
                .n-package-table__item + .n-package-table__item {
                    @include border-side(left, 1, solid, transparent, sm);
                }
            }
        }
        &__body {
            .n-package-table__item:not(.n-package-table__item--empty) {
                @include border-side(top, 1, solid, #E1E1E1, xl);
            }
            .n-package-table__row:last-child .n-package-table__item:not(.n-package-table__item--empty) {
                @include border-side(bottom, 1, solid, #E1E1E1, xl);
            }
            .n-package-table__item + .n-package-table__item {
                @include border-side(left, 1, solid, #E1E1E1, xl);
            }

            @include only(mobile) {
                .n-package-table__item:not(.n-package-table__item--empty) {
                    @include border-side(top, 1, solid, #E1E1E1, sm);
                }
                .n-package-table__row:last-child .n-package-table__item:not(.n-package-table__item--empty) {
                    @include border-side(bottom, 1, solid, #E1E1E1, sm);
                }
                .n-package-table__item + .n-package-table__item {
                    @include border-side(left, 1, solid, #E1E1E1, sm);
                }
            }
        }
        &__row {
            display: flex;
            width: 100%;
            &--green {
                .n-package-table {
                    &__item {
                        color: $color-green;
                        background: rgba($color-green, 0.05);
                    }
                }
            }
            &.is--active {
                .n-package-table {
                    &__item {
                        background: rgba(#F3F6FC, 0.4);
                    }
                    &__trigger {
                        .minus {
                            opacity: 1;
                        }
                    }
                }
            }
        }
        &__row-group {
            overflow: hidden;
            max-height: 0;
            transition: all 0.4s ease;
            &.is--open {
                max-height: var(--dropdown-height);
            }
            .n-package-table {
                &__item {
                    background: #FAFBFC;
                }
                &__value {
                    @include prop-vw(padding-block, 25, xl);
                    color: #575F76;
                }
            }

            @include only(mobile) {
                .n-package-table {
                    &__value {
                        @include prop-vw(padding-block, 25, sm);
                    }
                }
            }
        }
        &__item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex: 1 1 auto;
            @include prop-vw(width, 110, xl);
            transition: background 0.2s ease;
            &--sm {
                @include prop-vw(max-width, 80, xl);
                @include prop-vw(width, 80, xl);
            }
            &--lg {
                @include prop-vw(width, 260, xl);
            }
            &--light-green {
                background: #E8F5E9;
            }
            &--green {
                background: rgba(#63AC39, 0.2);
            }
            &--yellow {
                background: rgba(#FFCC00, 0.2);
            }
            &--empty {
                border: none;
            }

            @include only(mobile) {
                @include prop-vw(width, 110, sm);
                &--sm {
                    @include prop-vw(min-width, 80, sm);
                    @include prop-vw(width, 80, sm);
                }
                &--lg {
                    @include prop-vw(width, 260, sm);
                }
            }
        }
        &__trigger {
            position: relative;
            z-index: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            @include prop-vw(margin-right, 10, xl);
            margin-left: auto;
            padding: 0;
            @include prop-vw(min-width, 20, xl);
            @include prop-vw(width, 20, xl);
            @include prop-vw(height, 20, xl);
            font-size: 0;
            background: transparent;
            border: none;
            border-radius: 0;
            & > svg {
                position: absolute;
                top: 50%;
                left: 50%;
                z-index: 1;
                transform: translate(-50%, -50%);
                @include prop-vw(width, 20, xl);
                @include prop-vw(height, 20, xl);
                color: $color-blue;
                transition: opacity 0.2s ease;
                &.minus {
                    opacity: 0;
                }
            }
            &:focus {
                outline: none;
            }

            @include only(mobile) {
                @include prop-vw(margin-right, 10, sm);
                @include prop-vw(min-width, 20, sm);
                @include prop-vw(width, 20, sm);
                @include prop-vw(height, 20, sm);
                & > svg {
                    @include prop-vw(width, 20, sm);
                    @include prop-vw(height, 20, sm);
                }
            }
        }
        &__heading {
            display: flex;
            align-items: center;
            justify-content: space-between;
            @include prop-vw(padding-block, 5, xl);
            @include prop-vw(padding-inline, 10, xl);
            @include prop-vw(min-height, 30, xl);
            width: 100%;
            height: 100%;
            @include prop-vw(font-size, 13, xl);
            font-weight: 500;
            line-height: 1.53846153846;
            color: #575F76;

            @include only(mobile) {
                @include prop-vw(padding-block, 5, sm);
                @include prop-vw(padding-inline, 10, sm);
                @include prop-vw(min-height, 30, sm);
                @include prop-vw(font-size, 13, sm);
            }
        }
        &__cell {
            display: block;
            @include prop-vw(padding-block, 8, xl);
            @include prop-vw(padding-inline, 10, xl);
            width: 100%;
            @include prop-vw(font-size, 13, xl);
            font-weight: 500;
            line-height: 1.69230769231;
            text-align: center;
            color: #262626;
            background: #F3F6FC;
            @include border-side(top, 1, solid, #E1E1E1, xl);

            @include only(mobile) {
                @include prop-vw(padding-block, 8, sm);
                @include prop-vw(padding-inline, 10, sm);
                @include prop-vw(font-size, 13, sm);
                @include border-side(top, 1, solid, #E1E1E1, sm);
            }
        }
        &__value {
            display: block;
            @include prop-vw(padding-block, 12, xl);
            @include prop-vw(padding-inline, 10, xl);
            @include prop-vw(min-height, 40, xl);
            width: 100%;
            @include prop-vw(font-size, 13, xl);
            font-weight: normal;
            line-height: 1.23076923077;
            b, strong {
                font-weight: 600;
            }

            @include only(mobile) {
                @include prop-vw(padding-block, 12, sm);
                @include prop-vw(padding-inline, 10, sm);
                @include prop-vw(min-height, 40, sm);
                @include prop-vw(font-size, 13, sm);
            }
        }
        &__done {
            display: block;
            @include prop-vw(min-width, 20, xl);
            @include prop-vw(width, 20, xl);
            @include prop-vw(height, 20, xl);
            background-image: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_4654_1458)"><path fill-rule="evenodd" clip-rule="evenodd" d="M9.82092 0C12.4418 0.0473615 14.9393 1.12175 16.776 2.99196C18.6128 4.86217 19.6418 7.3787 19.6418 10C19.6418 12.6213 18.6128 15.1378 16.776 17.008C14.9393 18.8783 12.4418 19.9526 9.82092 20C7.20005 19.9526 4.70252 18.8783 2.86581 17.008C1.02909 15.1378 0 12.6213 0 10C0 7.3787 1.02909 4.86217 2.86581 2.99196C4.70252 1.12175 7.20005 0.0473615 9.82092 0ZM7.74419 13.2484L5.29521 10.7973C5.09475 10.5961 4.98219 10.3237 4.98219 10.0397C4.98219 9.75574 5.09475 9.48333 5.29521 9.28218C5.49669 9.08191 5.76923 8.96951 6.05331 8.96951C6.33738 8.96951 6.60992 9.08191 6.8114 9.28218L8.53657 11.0095L12.8304 6.71565C13.0316 6.51519 13.304 6.40263 13.588 6.40263C13.872 6.40263 14.1444 6.51519 14.3455 6.71565C14.5457 6.91694 14.6581 7.1893 14.6581 7.4732C14.6581 7.7571 14.5457 8.02945 14.3455 8.23075L9.29303 13.2833C9.19047 13.3853 9.06835 13.4656 8.934 13.5193C8.79965 13.573 8.65584 13.599 8.51119 13.5957C8.36655 13.5925 8.22405 13.56 8.09225 13.5003C7.96045 13.4407 7.84206 13.355 7.74419 13.2484Z" fill="%2363AC39"/></g><defs><clipPath id="clip0_4654_1458"><rect width="20" height="20" fill="white"/></clipPath></defs></svg>');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;

            @include only(mobile) {
                @include prop-vw(min-width, 20, sm);
                @include prop-vw(width, 20, sm);
                @include prop-vw(height, 20, sm);
            }
        }
        &__no-results {
            display: none;
            width: fit-content;
            @include prop-vw(font-size, 13, xl);
            font-weight: normal;
            @include prop-vw(line-height, 40, xl);
            color: #B60000;
            
            @include only(mobile) {
                @include prop-vw(font-size, 13, sm);
                @include prop-vw(line-height, 40, sm);
            }
        }
    }

    @keyframes fillProgress {
        to {
            width: var(--percent, 0);
        }
    }

    @keyframes valueProgress {
        to {
            background-size: var(--percent) 100%, 100% 100%;
        }
    }
}