<div class="sidebar" data-module="Sidebar" data-path="layouts">
    <div class="sidebar__wrap">
        <div class="sidebar__section">
            <span class="sidebar__label">ЛИЧНЫЙ КАБИНЕТ</span>
            <ul class="sidebar__list">
                <li class="sidebar__item">
                    <a href="#" class="sidebar__link">
                        <svg aria-hidden="true" focusable="false" width="20" height="20">
                            <use href="#icon-user"></use>
                        </svg>
                        <span>Моя страница</span>
                    </a>
                </li>
                <li class="sidebar__item">
                    <a href="#" class="sidebar__link">
                        <svg aria-hidden="true" focusable="false" width="20" height="20">
                            <use href="#icon-education-portal"></use>
                        </svg>
                        <span>Учебный портал</span>
                    </a>
                </li>
                <li class="sidebar__item">
                    <a href="#" class="sidebar__link">
                        <svg aria-hidden="true" focusable="false" width="20" height="20">
                            <use href="#icon-coefficient"></use>
                        </svg>
                        <span>Коэффициент</span>
                    </a>
                </li>
                <li class="sidebar__item">
                    <a href="#" class="sidebar__link">
                        <svg aria-hidden="true" focusable="false" width="20" height="20">
                            <use href="#icon-package"></use>
                        </svg>
                        <span>Пакеты</span>
                    </a>
                </li>
                <li class="sidebar__item">
                    <a href="#" class="sidebar__link">
                        <svg aria-hidden="true" focusable="false" width="20" height="20">
                            <use href="#icon-motivation"></use>
                        </svg>
                        <span>Мотивация</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="sidebar__section">
            <span class="sidebar__label">ПОРТАЛ</span>
            <ul class="sidebar__list">
                <li class="sidebar__item">
                    <a href="#" class="sidebar__link">
                        <svg aria-hidden="true" focusable="false" width="20" height="20">
                            <use href="#icon-home"></use>
                        </svg>
                        <span>Главная</span>
                    </a>
                </li>
                <li class="sidebar__item">
                    <a href="#" class="sidebar__link">
                        <svg aria-hidden="true" focusable="false" width="20" height="20">
                            <use href="#icon-news"></use>
                        </svg>
                        <span>Новости</span>
                    </a>
                </li>
                <li class="sidebar__item">
                    <a href="#" class="sidebar__link">
                        <svg aria-hidden="true" focusable="false" width="20" height="20">
                            <use href="#icon-gallery"></use>
                        </svg>
                        <span>Галерея</span>
                    </a>
                </li>
                <li class="sidebar__item">
                    <a href="#" class="sidebar__link">
                        <svg aria-hidden="true" focusable="false" width="20" height="20">
                            <use href="#icon-data"></use>
                        </svg>
                        <span>База знаний</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="sidebar__section">
            <span class="sidebar__label">ХОЛДИНГ</span>
            <ul class="sidebar__list">
                <li class="sidebar__item">
                    <a href="#" class="sidebar__link">
                        <svg aria-hidden="true" focusable="false" width="20" height="20">
                            <use href="#icon-directory"></use>
                        </svg>
                        <span>Справочник</span>
                    </a>
                </li>
                <li class="sidebar__item">
                    <a href="#" class="sidebar__link">
                        <svg aria-hidden="true" focusable="false" width="20" height="20">
                            <use href="#icon-vacancy"></use>
                        </svg>
                        <span>Вакансии</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="sidebar__section">
            <span class="sidebar__label">ПРИСОЕДИНЯЙТЕСЬ</span>
            <ul class="sidebar__list">
                <li class="sidebar__item">
                    <a href="#" class="sidebar__link">
                        <svg aria-hidden="true" focusable="false" width="20" height="20">
                            <use href="#icon-back"></use>
                        </svg>
                        <span>Гипермаркет Аптечка+</span>
                    </a>
                </li>
                <li class="sidebar__item">
                    <a href="#" class="sidebar__link">
                        <svg aria-hidden="true" focusable="false" width="20" height="20">
                            <use href="#icon-back"></use>
                        </svg>
                        <span>Аптеки ADEL</span>
                    </a>
                </li>
                <li class="sidebar__item">
                    <a href="#" class="sidebar__link">
                        <svg aria-hidden="true" focusable="false" width="20" height="20">
                            <use href="#icon-back"></use>
                        </svg>
                        <span>Аптек Добрыя лекi</span>
                    </a>
                </li>
                <li class="sidebar__item">
                    <a href="#" class="sidebar__link">
                        <svg aria-hidden="true" focusable="false" width="20" height="20">
                            <use href="#icon-back"></use>
                        </svg>
                        <span>Клуб FeelinGood</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>