@use '@/assets/styles/base/mixins' as *;
@use '@/assets/styles/base/vars' as *;

@layer layout {
    .sidebar {
        @include prop-vw(padding-top, 20, xl);
        @include prop-vw(padding-bottom, 40, xl);
        @include prop-vw(padding-inline, 30, xl);
        @include minvh-minus(120, xl, 100vh);
        @include prop-vw(max-width, 350, xl);
        width: 100%;
        @include border-side(right, 1, solid, $color-border, xl);

        @include only(desktop) {
            @include prop-vw(padding-top, 20, lg);
            @include prop-vw(padding-bottom, 40, lg);
            @include prop-vw(padding-inline, 30, lg);
            @include minvh-minus(120, lg, 100vh);
            @include prop-vw(max-width, 350, lg);
            width: 100%;
            @include border-side(right, 1, solid, $color-border, lg);
        }
        @include only(mobile) {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            z-index: 1000;
            overflow-x: hidden;
            overflow-y: auto;
            padding: 0;
            min-height: 100dvh;
            max-width: none;
            background: rgba(#212121, 0.8);
            border: none;
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
            transition: all 0.25s ease;
            &.is-open {
                opacity: 1;
                visibility: visible;
                pointer-events: auto;
                .sidebar {
                    &__wrap {
                        transform: translate(0, 0);
                    }
                }
            }
        }

        &__wrap {
            @include only(mobile) {
                transform: translate(-100%, 0);
                @include prop-vw(padding-top, 20, sm);
                @include prop-vw(padding-right, 85, sm);
                @include prop-vw(padding-bottom, 50, sm);
                @include prop-vw(padding-left, 10, sm);
                min-height: 100dvh;
                @include prop-vw(max-width, 320, sm);
                width: 100%;
                background: $color-white;
                transition: transform $transition-vs;
            }
        }
        &__section {
            @include prop-vw(padding-bottom, 10, xl);
            @include prop-vw(max-width, 225, xl);
            width: 100%;
            @include border-side(bottom, 1, solid, $color-dark-grey, xl);

            @include only(desktop) {
                @include prop-vw(padding-bottom, 10, lg);
                @include prop-vw(max-width, 225, lg);
                @include border-side(bottom, 1, solid, $color-dark-grey, lg);
            }
            @include only(mobile) {
                @include prop-vw(margin-bottom, 10, sm);
                max-width: none;
                @include border-side(bottom, 1, solid, $color-dark-grey, sm);
            }
        }
        &__section + &__section {
            @include prop-vw(margin-top, 30, xl);
            
            @include only(desktop) {
                @include prop-vw(margin-top, 30, lg);
            }
            @include only(mobile) {
                @include prop-vw(margin-top, 30, sm);
            }
        }
        &__label {
            display: block;
            @include prop-vw(margin-bottom, 10, xl);
            width: fit-content;
            @include prop-vw(font-size, 14, xl);
            font-weight: normal;
            text-transform: uppercase;
            color: $color-dark-grey;

            @include only(desktop) {
                @include prop-vw(margin-bottom, 10, lg);
                @include prop-vw(font-size, 14, lg);
            }
            @include only(mobile) {
                @include prop-vw(margin-bottom, 10, sm);
                @include prop-vw(font-size, 14, sm);
            }
        }
        &__list {
            margin: 0;
            padding: 0;
            list-style: none;
        }
        &__link {
            display: flex;
            align-items: center;
            @include prop-vw(gap, 10, xl);
            @include prop-vw(padding-block, 10, xl);
            width: 100%;
            @include prop-vw(font-size, 14, xl);
            font-weight: normal;
            & > svg,
            & > img {
                @include prop-vw(min-width, 20, xl);
                @include prop-vw(width, 20, xl);
                @include prop-vw(height, 20, xl);
            }
            & > img {
                display: block;
                object-fit: contain;
            }
            &.is--active {
                color: $color-blue;
                & > svg {
                    color: $color-blue;
                }
            }

            @media screen and (hover: hover) {
                &:hover {
                    color: $color-blue;
                }
            }
            @include only(desktop) {
                @include prop-vw(gap, 10, lg);
                @include prop-vw(padding-block, 10, lg);
                @include prop-vw(font-size, 14, lg);
                & > svg,
                & > img {
                    @include prop-vw(min-width, 20, lg);
                    @include prop-vw(width, 20, lg);
                    @include prop-vw(height, 20, lg);
                }
            }
            @include only(mobile) {
                @include prop-vw(gap, 15, sm);
                @include prop-vw(padding-block, 10, sm);
                @include prop-vw(font-size, 14, sm);
                & > svg,
                & > img {
                    @include prop-vw(min-width, 20, sm);
                    @include prop-vw(width, 20, sm);
                    @include prop-vw(height, 20, sm);
                }
            }
        }
        &__banr {
            position: relative;
            z-index: 1;
            display: block;
            overflow: hidden;
            @include prop-vw(margin-top, 80, xl);
            @include prop-vw(max-width, 250, xl);
            width: 100%;
            @include prop-vw(border-radius, 20, xl);
            &::before {
                content: '';
                display: block;
                padding-top: 150%;
            }
            & > * {
                position: absolute;
                inset: 0;
                z-index: 1;
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            @include only(desktop) {
                @include prop-vw(margin-top, 80, lg);
                @include prop-vw(max-width, 250, lg);
                @include prop-vw(border-radius, 20, lg);
            }
            @include only(mobile) {
                display: none;
            }
        }
        &__banr + &__banr {
            @include prop-vw(margin-top, 40, xl);

            @include only(desktop) {
                @include prop-vw(margin-top, 40, lg);
            }
        }
        &__close {
            position: absolute;
            z-index: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;
            background: transparent;
            border: none;
            border-radius: 0;
            &:focus {
                outline: none
            }

            @include up(tablet) {
                display: none;
            }
            @include only(mobile) {
                @include prop-vw(top, 5, sm);
                @include prop-vw(right, 5, sm);
                @include prop-vw(width, 30, sm);
                @include prop-vw(height, 30, sm);
                & > svg {
                    @include prop-vw(min-width, 16, sm);
                    @include prop-vw(width, 16, sm);
                    @include prop-vw(height, 16, sm);
                }
            }
        }
    }
}