<div class="sidebar" data-module="Sidebar" data-path="layouts">
    <div class="sidebar__wrap">
        <div class="sidebar__section">
            <span class="sidebar__label">ERP</span>
            <ul class="sidebar__list">
                <li class="sidebar__item">
                    <a href="#" class="sidebar__link">
                        <svg aria-hidden="true" focusable="false" width="20" height="20">
                            <use href="#icon-erp-dashboard"></use>
                        </svg>
                        <span>Дашборд</span>
                    </a>
                </li>
                <li class="sidebar__item">
                    <a href="#" class="sidebar__link">
                        <svg aria-hidden="true" focusable="false" width="20" height="20">
                            <use href="#icon-erp-pharmacies"></use>
                        </svg>
                        <span>Аптеки</span>
                    </a>
                </li>
                <li class="sidebar__item">
                    <a href="#" class="sidebar__link">
                        <svg aria-hidden="true" focusable="false" width="20" height="20">
                            <use href="#icon-erp-managers"></use>
                        </svg>
                        <span>Менеджеры</span>
                    </a>
                </li>
                <li class="sidebar__item">
                    <a href="/employees" class="sidebar__link is--active">
                        <svg aria-hidden="true" focusable="false" width="20" height="20">
                            <use href="#icon-erp-employees"></use>
                        </svg>
                        <span>Сотрудники</span>
                    </a>
                </li>
                <li class="sidebar__item">
                    <a href="#" class="sidebar__link">
                        <svg aria-hidden="true" focusable="false" width="20" height="20">
                            <use href="#icon-erp-visits"></use>
                        </svg>
                        <span>Визиты</span>
                    </a>
                </li>
                <li class="sidebar__item">
                    <a href="/tasks" class="sidebar__link">
                        <svg aria-hidden="true" focusable="false" width="20" height="20">
                            <use href="#icon-erp-tasks"></use>
                        </svg>
                        <span>Задачи</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="sidebar__section">
            <span class="sidebar__label">ЛИЧНЫЙ КАБИНЕТ</span>
            <ul class="sidebar__list">
                <li class="sidebar__item">
                    <a href="/" class="sidebar__link">
                        <svg aria-hidden="true" focusable="false" width="20" height="20">
                            <use href="#icon-user"></use>
                        </svg>
                        <span>Моя страница</span>
                    </a>
                </li>
                <li class="sidebar__item">
                    <a href="#" class="sidebar__link">
                        <svg aria-hidden="true" focusable="false" width="20" height="20">
                            <use href="#icon-education-portal"></use>
                        </svg>
                        <span>Учебный портал</span>
                    </a>
                </li>
                <li class="sidebar__item">
                    <a href="/coefficient" class="sidebar__link">
                        <svg aria-hidden="true" focusable="false" width="20" height="20">
                            <use href="#icon-coefficient"></use>
                        </svg>
                        <span>Коэффициент</span>
                    </a>
                </li>
                <li class="sidebar__item">
                    <a href="/package" class="sidebar__link">
                        <svg aria-hidden="true" focusable="false" width="20" height="20">
                            <use href="#icon-package"></use>
                        </svg>
                        <span>Пакеты</span>
                    </a>
                </li>
                <li class="sidebar__item">
                    <a href="/motivation" class="sidebar__link">
                        <svg aria-hidden="true" focusable="false" width="20" height="20">
                            <use href="#icon-motivation"></use>
                        </svg>
                        <span>Мотивация</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="sidebar__section">
            <span class="sidebar__label">ПОРТАЛ</span>
            <ul class="sidebar__list">
                <li class="sidebar__item">
                    <a href="#" class="sidebar__link">
                        <svg aria-hidden="true" focusable="false" width="20" height="20">
                            <use href="#icon-home"></use>
                        </svg>
                        <span>Главная</span>
                    </a>
                </li>
                <li class="sidebar__item">
                    <a href="#" class="sidebar__link">
                        <svg aria-hidden="true" focusable="false" width="20" height="20">
                            <use href="#icon-news"></use>
                        </svg>
                        <span>Новости</span>
                    </a>
                </li>
                <li class="sidebar__item">
                    <a href="#" class="sidebar__link">
                        <svg aria-hidden="true" focusable="false" width="20" height="20">
                            <use href="#icon-gallery"></use>
                        </svg>
                        <span>Галерея</span>
                    </a>
                </li>
                <li class="sidebar__item">
                    <a href="#" class="sidebar__link">
                        <svg aria-hidden="true" focusable="false" width="20" height="20">
                            <use href="#icon-data"></use>
                        </svg>
                        <span>База знаний</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="sidebar__section">
            <span class="sidebar__label">ХОЛДИНГ</span>
            <ul class="sidebar__list">
                <li class="sidebar__item">
                    <a href="#" class="sidebar__link">
                        <svg aria-hidden="true" focusable="false" width="20" height="20">
                            <use href="#icon-directory"></use>
                        </svg>
                        <span>Справочник</span>
                    </a>
                </li>
                <li class="sidebar__item">
                    <a href="#" class="sidebar__link">
                        <svg aria-hidden="true" focusable="false" width="20" height="20">
                            <use href="#icon-vacancy"></use>
                        </svg>
                        <span>Вакансии</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="sidebar__section">
            <span class="sidebar__label">ПРИСОЕДИНЯЙТЕСЬ</span>
            <ul class="sidebar__list">
                <li class="sidebar__item">
                    <a href="#" class="sidebar__link">
                        <img src="/assets/images/apte4ka.svg" width="20" height="20" alt="Аптечка+">
                        <span>Гипермаркет Аптечка+</span>
                    </a>
                </li>
                <li class="sidebar__item">
                    <a href="#" class="sidebar__link">
                        <img src="/assets/images/adel.svg" width="20" height="20" alt="ADEL">
                        <span>Аптеки ADEL</span>
                    </a>
                </li>
                <li class="sidebar__item">
                    <a href="#" class="sidebar__link">
                        <img src="/assets/images/dleki.svg" width="20" height="20" alt="Добрыя лекi+">
                        <span>Аптек Добрыя лекi</span>
                    </a>
                </li>
                <li class="sidebar__item">
                    <a href="#" class="sidebar__link">
                        <img src="/assets/images/feelingood.svg" width="20" height="20" alt="FeelinGood">
                        <span>Клуб FeelinGood</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="sidebar__banr"></div>
        <div class="sidebar__banr"></div>
        <button class="sidebar__close" aria-label="Закрыть">
            <svg aria-hidden="true" focusable="false" width="16" height="16">
                <use href="#icon-close"></use>
            </svg>
        </button>
    </div>
</div>