@use '@/assets/styles/base/mixins' as *;
@use '@/assets/styles/base/vars' as *;

@layer components {
    .not-found {
        @include prop-vw(padding-top, 100, xl);

        @include only(desktop) {
            @include prop-vw(padding-top, 100, lg);
        }
        @include only(mobile) {
            @include prop-vw(padding-top, 40, sm);
        }

        &__decor {
            display: block;
            margin-right: auto;
            @include prop-vw(margin-bottom, 30, xl);
            margin-left: auto;
            width: fit-content;
            font-family: $font-secondary;
            @include prop-vw(font-size, 198, xl);
            font-weight: bold;
            text-transform: uppercase;
            color: $color-grey;

            @include only(desktop) {
                @include prop-vw(margin-bottom, 30, lg);
                @include prop-vw(font-size, 198, lg);
            }
            @include only(mobile) {
                @include prop-vw(margin-bottom, 20, sm);
                @include prop-vw(font-size, 100, sm);
            }
        }
        &__wrapper {
            text-align: center;
            width: 100%;
            
            @include up(tablet) {
                margin-right: auto;
                margin-left: auto;
                @include prop-vw(padding, 40, xl);
                @include prop-vw(max-width, 500, xl);
                background: $color-white;
                @include prop-vw(border-radius, 20, xl);
                box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.05);
            }
        }
        &__title {
            display: block;
            margin-right: auto;
            margin-left: auto;
            width: fit-content;
            font-family: $font-secondary;
            @include prop-vw(font-size, 26, xl);
            font-weight: bold;

            @include only(desktop) {
                @include prop-vw(font-size, 26, lg);
            }
            @include only(mobile) {
                @include prop-vw(font-size, 24, sm);
            }
        }
        &__description {
            display: block;
            @include prop-vw(margin-top, 10, xl);
            width: 100%;
            @include prop-vw(font-size, 16, xl);
            font-weight: normal;
            line-height: 1.5;
            a {
                display: inline;
                color: $color-blue;
                &:hover {
                    color: $color-blue;
                }

                @media screen and (hover: hover) {
                    &:hover {
                        color: $color-blue-hover;
                    }
                }
            }

            @include only(desktop) {
                @include prop-vw(margin-top, 10, lg);
                @include prop-vw(font-size, 16, lg);
            }
            @include only(mobile) {
                @include prop-vw(margin-top, 20, sm);
                @include prop-vw(font-size, 14, sm);
            }
        }
        &__btn {
            @include prop-vw(margin-top, 40, xl);
            margin-right: auto;
            margin-left: auto;
            @include prop-vw(min-width, 130, xl);
            width: fit-content;

            @include only(desktop) {
                @include prop-vw(margin-top, 40, lg);
                @include prop-vw(min-width, 130, lg);
            }
            @include only(mobile) {
                @include prop-vw(margin-top, 20, sm);
                @include prop-vw(min-width, 130, sm);
            }
        }
    }
}